.card:hover {
  box-shadow: 5px 5px 16px rgba(8, 7, 7, 0.429);
}
.card {
  box-shadow: 2px 5px 10px rgba(8, 7, 7, 0.401);
}
article {
  cursor: pointer;
  padding: 20px;
}
.cardWidth {
  display: flex;
  min-width: 300px;
  max-width: 20%;
}

.description {
  overflow: hidden;
  margin: 0;
}

.card__body {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  font-family: "Noto Sans", sans-serif;
}
.card__title {
  height: 50px;
  overflow: hidden;
  font-family: "Russo One", sans-serif;
}

.authors {
  position: relative;
  padding-bottom: 20px;
}
.line {
  width: 100%;
  height: 2px;
  background: #44444479;
  margin: 20px 0;
}

.cardWidth img {
  max-width: 128px;
  max-height: 160px;
}
