.popup_bg {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.803);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}
.popActive {
  opacity: 1;
  z-index: 8;
  pointer-events: all;
}

.popup {
  background: white;
  padding: 15px;
  border-radius: 15px;
  width: 90%;
  height: max-content;
  transform: scale(0.3);
  transition: 0.4s all;
  z-index: 9;
}

.popActive {
  transform: scale(1);
}
.description {
  max-width: 80%;
  max-height: 200px;
  overflow: auto;
  font-family: "Noto Sans", sans-serif;
}
.description::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(26, 24, 24, 0.204);
  border-radius: 10px;
  background-color: #f9f9fd;
}
.description::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;

  background-color: #f9f9fd;
}

.description::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #2e35355f;
}
.popupCard__footer p::after {
  content: ";";
}
.popupCard__footer {
  display: flex;
  margin-top: 30px;
  gap: 30px;
  font-family: "Russo One", sans-serif;
}
.popupCard {
  display: flex;
  flex-direction: column;
  place-items: center;
}
.popupCard-img {
  width: calc(128 * 1.5px);
}
.popupCard__close:hover,
.popupCard__close:active {
  background: #00000010;
  border-radius: 50%;
}
.popupCard__close:active {
  box-shadow: inset 1px 2px 10px rgba(92, 92, 92, 0.527);
}
.popupCard__close {
  display: flex;
  margin-left: auto;
}
.popupCard__header {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  gap: 20px;
  font-family: "Russo One", sans-serif;
}

@media (max-width: 768px) {
  .popup {
    max-height: 95vh;
    overflow: auto;
  }
  .popup::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(26, 24, 24, 0.204);
    border-radius: 10px;
    background-color: #f9f9fd;
  }
  .popup::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;

    background-color: #f9f9fd;
  }

  .popup::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #2e35355f;
  }
  .popupCard__header,
  .popupCard__footer {
    flex-wrap: wrap;
    gap: 5px;
  }
}
