.popup_bg,
.popup_bgActive {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.803);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}
.popup_bgActive {
  opacity: 1;
  z-index: 8;
  pointer-events: all;
}

.popup,
.popupActive {
  background: white;
  padding: 15px;
  border-radius: 15px;
  width: 90%;
  height: max-content;
  transform: scale(0.3);
  transition: 0.4s all;
  z-index: 9;
}
.popupActive {
  transform: scale(1);
}
