.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}
header {
  width: 100%;
  padding-bottom: 50px;
  background: linear-gradient(0deg, #5098c8 0%, #62a5c4 100%);

  justify-content: center;
}
main {
  margin: 50px 0;
  display: flex;
  justify-content: center;
}
section {
  display: flex;
  justify-content: center;
}
.card:hover {
  box-shadow: 5px 5px 16px rgba(8, 7, 7, 0.429);
}
.card {
  box-shadow: 2px 5px 10px rgba(8, 7, 7, 0.401);
}
article {
  cursor: pointer;
  padding: 20px;
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header__title {
  margin: 50px;
}
.header__search {
  display: flex;
  max-width: 50%;
}

.header__filter {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-direction: row;
}
.header__filter div {
  padding: 10px;
}
